<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="open(content)">Create</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>  
      </ul>
    </nav>
<!-- create -->
<ng-template #content let-modal>
  <div class="modal-body">
    <div class="row mt-5">
      <div class="col-md-12">
          <h2 class="text-center">Add User</h2>
          <div class="card mt-3">
              <div class="card-body">
                <form [formGroup]="UserForm" (ngSubmit)="addUser()">
                  <div class="form-group">
                    <label class="col-md-4">firstName </label>
                    <input type="text" class="form-control" formControlName="first_name" />
                  </div>
                  <div class="form-group">
                    <label class="col-md-4">lastName </label>
                    <input type="text" class="form-control" formControlName="last_name" />
                  </div>
                  <div class="form-group">
                    <label class="col-md-4">email </label>
                    <input type="email" class="form-control" formControlName="email" />
                  </div>
                  <div class="form-group">
                    <label class="col-md-4">avater </label>
                    <input type="url" class="form-control" formControlName="avatar" />
                  </div>
    
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary col-md-4" [disabled]="UserForm.invalid">Add</button>
                    <a [routerLink]="['/']">
                      <button type="submit" class="btn btn-primary col-md-4 ml-1">Back</button>
                    </a>
                  </div>
                </form>
              </div>
          </div>
      </div>
    </div>
  </div>
</ng-template>
<router-outlet></router-outlet>